{% extends 'base.html' %}
{% block content %}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                      <!--<div class="col-lg-6 d-none d-lg-block bg-login-image">-->
                    </div>

            {% if valid_link %}
                <div class="form-group">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Save </button>
                    </form>
                </div>

            {% else %}
                <div class="col-lg-6">
                    <div class="p-5">
                        <h1>set new password</h1>
                        <p style="color:red;">Invalid Token</p>
                        <p>The password reset link was invalid, possibly because it has already been used.
                            <a href="{% url 'password_reset' %}"> Please request a new password reset.</a>
                        </p>
                    </div>
                </div>


            {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

