{% for dtls in object_list %}
<tr>
	<td>{{ dtls.id }}</td>
	<td>{{ dtls.name }}</td>
	<td>{{ dtls.gender }}</td>
	<td>{{ dtls.blood_group }}</td>
	{% if dtls.photo.name %}
	<td><a href="{{ MEDIA_URL }}{{ dtls.photo.name }}" target="_blank"><img class="img-profile rounded-circle" src="{{ MEDIA_URL }}{{ dtls.photo.name }}" width="50" height="50"/></a></td>
	{% else %}
    <td><img class="img-profile rounded-circle" src="{{ MEDIA_URL }}no_image.jpg" width="50" height="50"/></td>
	{% endif %}
	<td>{{ dtls.address }} {{ dtls.email_id }} {{ dtls.telephone_line1 }}</td>
	<td>{{ dtls.joining_date}}</td>
	<td>{{ dtls.role }}</td>
	<td>
		<button class="btn btn-success show-form-update" data-url="{% url 'employee_update' dtls.id %}">
			<i class="fa fa-edit" aria-hidden="true"></i>
			Edit
		</button>
		<button class="btn btn-danger show-form-delete" data-url="{% url 'employee_delete' dtls.id %}">
			<i class="fa fa-trash" aria-hidden="true"></i>
			Delete
		</button>
	</td>
</tr>
{% empty %}
<tr>
	<td colspan="10" class="text-center bg-warning">No Records Found</td>
</tr>
{% endfor %}